* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background:#EAF1F4
  color: #111;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.7);
  border-bottom: 1px solid rgba(0,0,0,0.05);
  z-index: 1000;
}

.logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #111;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #000;
}

.cta-btn {
  background: #000;
  color: #fff;
  padding: 10px 22px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s ease;
}

.cta-btn:hover {
  transform: translateY(-2px);
  opacity: 0.85;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  padding: 0 20px;
}

.label {
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #777;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #555;
}

/* SECTIONS */
.section {
  padding: 120px 10%;
  text-align: center;
}

.section h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.section p {
  max-width: 700px;
  margin: 0 auto;
  color: #555;
}

.light {
  background: #ffffff;
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  margin-top: 60px;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
  transition: transform 0.4s ease;
}

.project-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

.project-card:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  color: #fff;
  font-weight: 600;
}

/* BUTTON */
.primary-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 30px;
  background: #000;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s ease;
}

.primary-btn:hover {
  transform: translateY(-3px);
  opacity: 0.85;
}

/* FOOTER */
footer {
  padding: 40px;
  text-align: center;
  color: #999;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .navbar {
    padding: 20px;
  }

  .nav-links {
    gap: 20px;
  }

  .hero h1 {
    font-size: 42px;
  }

  .section {
    padding: 100px 30px;
  }
}
